//------Color
$priCol: #3c56e8;
$secCol: #fcc135;

//------Font
$roboto: 'Roboto', sans-serif;
$nuni: 'Nunito' , sans-serif;;
$marker: 'Permanent Marker', cursive;

// .signup{
//     background-image: url('../Images/AuthBg.png');
//     background-repeat: no-repeat;
//     background-size: cover;
//     text-align: center;
// }
.signup-layout{
    text-align: center;
    margin: 30px auto;
    box-shadow: 0px 3px 12px 1px rgba(0, 0, 0, 0.1);
    width: 45%;
    box-sizing: border-box;
    padding: 25px 20px;
    border-radius: 15px;
    background: #fff;
    h4{
        font-family: $roboto;
        color: rgb(102, 102, 102);
        font-weight: 400;
        margin-top: 10px;
        span{
            color: #000; 
            border-bottom: 3px solid #fcc135; 
            padding-bottom: 3px; 
            font-size: 34px; 
            font-family: $marker;
        }
    }
    form{
        margin: 50px auto 20px auto;
        width: 100%;
        box-sizing: border-box;
        input{
            display: block;
            margin: 20px auto;
            padding: 15px 15px;
            width: 65%;
            border-radius: 7px;
            border: 2px solid #ccc;
            &:hover{
                background: rgb(246, 246, 246);
            }
            &:focus{
                border: 2px solid $priCol;
                outline: none;
            }
        }
        .btn-signup{
            color: #fff;
            background: $priCol;
            padding: 10px 30px;
            border-radius: 7px;
            text-transform: uppercase;
            font-family: $roboto;
            margin: 10px auto 5px auto;
            outline: none;
            &:hover{
                background: darken($color: $priCol, $amount: 8);
            }
            &:focus{
                outline: none;
                box-shadow: none;
            }
        }
        p{
            font-family: $roboto;
            margin: 25px auto 0px auto;
        }
    }
}

@media (min-width: 800px)and(max-width: 1100px){
    .signup-layout{
        width: 60%;
    }
}
@media (min-width: 500px)and(max-width: 799px){
    .signup-layout{
        width: 90%;
        input{
            width: 100%;
            padding: 10px 15px;
        }
    }
}
@media (min-width: 300px)and(max-width: 499px){
    .signup-layout{
        width: 90%;
        input{
            width: 100%;
            padding: 10px 15px;
        }
    }
}