.home-layout .skull-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-layout .skull-layout h5 {
  margin: auto 10px;
}

.home-layout .header-user {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px;
  margin: 30px auto;
}

.home-layout .header-user .user-details {
  padding: 15px;
  -webkit-box-shadow: 0px 3px 12px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 12px 1px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.home-layout .header-user .user-details h2 {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  border-left: 15px solid #3c56e8;
  padding-left: 5px;
  margin-left: -15px;
}

.home-layout .header-user .user-details p {
  font-family: "Roboto", sans-serif;
}

.home-layout .header-user .user-details .total-recipes {
  background: rgba(60, 86, 232, 0.2);
  color: #3c56e8;
  padding: 5px 8px;
  border-radius: 50px;
}

.home-layout .header-user .col-md-9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
}

.home-layout .header-user .col-md-9::-webkit-scrollbar {
  display: none;
}

.home-layout .header-user .col-md-9 p {
  display: inline-block;
  word-wrap: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 5px 8px;
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: capitalize;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.home-layout .header-user .col-md-9 p:hover {
  text-decoration: none;
}

.home-layout .header-user .col-md-9 p:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.home-layout .header-user .col-md-9 p img {
  display: inline-block;
  border-radius: 50px;
  margin-right: 5px;
  width: 40px;
  height: 40px;
}

.home-layout .header-user .col-md-9 .btn-home-add-recp {
  color: #3c56e8;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  background: #fff;
  padding: 5px 10px;
  margin: 10px 3px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-layout .header-user .col-md-9 .btn-home-add-recp:hover {
  background: #3c56e8;
  color: #fff;
}

.home-layout .header-user .col-md-9 .btn-home-add-recp:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.home-layout .not-found img {
  width: 300px;
  margin: 10px auto 10px auto;
}

.home-layout .not-found .btn-add-more-recp {
  color: #fff;
  background: #3c56e8;
  padding: 10px 30px;
  border-radius: 7px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  margin: 20px auto 5px auto;
  outline: none;
  border: none;
  cursor: pointer;
}

.home-layout .not-found .btn-add-more-recp:hover {
  background: #2542e5;
}

.home-layout .not-found .btn-add-more-recp:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.home-layout .not-found h3 {
  margin: 20px auto 10px auto;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=Home.css.map */