//------Color
$priCol: #2364E6;
$secCol: #E7BB41;
$priShade: rgba(60, 86, 232, 0.1);

//------Font
$roboto: 'Roboto', sans-serif;
$nuni: 'Nunito' , sans-serif;

.upload-progress{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto 0px auto;
    div{
        background: rgb(233, 233, 233);
        width: 40px;
        height: 40px;
        text-align: center;
        padding: 7px 10px;
        border-radius: 50px;
        z-index: 99;
        position: relative;
        color: rgba(0, 0, 0, 0.5);
        position: relative;
        z-index: 1;
    }
}
.recipe-layout{
    margin: 30px auto;
    box-shadow: 0px 3px 12px 1px rgba(0, 0, 0, 0.1);
    width: 45%;
    box-sizing: border-box;
    padding: 10px 10px 15px 10px;
    border-radius: 15px;
    background: #fff;
    .upload-recipe{
        .select-persons{
            display: flex;
            justify-content: space-evenly;
            width: 80%;
            margin: 30px auto;
            span{
                i{
                    border: 1px solid $priCol;
                    color: $priCol;
                    width: 60px;
                    height: 60px;
                    font-size: 24px;
                    padding: 15px 10px;
                    border-radius: 50px;
                    cursor: pointer;
                }
                &:hover i{
                    background: $priShade;
                    border-color: $priShade;
                }
                &::focus{
                    background: $secCol;
                }
            }
        }
        .more-persons{
            input{
                width: 50%;
            }
        }
        h4{
            color: rgba(0, 0, 0, 0.7);
            font-family: $roboto;
            text-align: center;
            margin: 0px auto 40px auto;
            span{
                color: $secCol;
            }
        }
        form{
            margin: 30px auto 20px auto;
            width: 90%;
            box-sizing: border-box;
            textarea{
                padding: 10px 10px;
                margin: 0;
                min-height: 100px;
                min-width: 90%;
                box-sizing: border-box;
                border-radius: 12px;
                overflow-y: hidden;
                box-shadow: 1px 6px 12px -1px rgba(0, 0, 0, 0.1);
                border: 1px solid rgba(0, 0, 0, 0.1);
                text-transform: capitalize;
                font-family: $roboto;
                &:focus{
                    outline: none;
                }
            }
            input{
                display: block;
                margin: 20px auto;
                padding: 15px 15px;
                width: 70%;
                border-radius: 7px;
                border: 2px solid #ccc;
                text-transform: capitalize;
                &:hover{
                    background: rgb(246, 246, 246);
                }
                &:focus{
                    border: 2px solid $priCol;
                    outline: none;
                }
                .custom-radio-button input[type="radio"]{
                    background: red;
                }
            }
            .btn-layout{
                width: 70%;
                margin: 0px auto;
            }
            .btn-upload{
                color: $priCol;
                background: rgba(60, 86, 232, 0.1);
                width: 150px;
                padding: 10px 30px;
                border-radius: 7px;
                text-transform: uppercase;
                font-family: $roboto;
                font-weight: 500;
                margin: 20px auto 5px auto;
                outline: none;
                font-size: 14px;
                &:hover{
                    background: $priCol;
                    color: #fff;
                    i{
                        margin-left: 5px;
                    }
                }
                &:focus{
                    outline: none;
                    box-shadow: none;   
                }
            }
            .btn-previous{
                color: rgba(0, 0, 0, 0.5);
                background: transparent;
                width: 150px;
                padding: 10px 30px;
                border-radius: 7px;
                text-transform: uppercase;
                font-family: $roboto;
                font-weight: 500;
                margin: 20px auto 5px auto;
                outline: none;
                font-size: 14px;
                &:hover{
                    background: rgb(246, 246, 246);
                    color: rgba(0, 0, 0, 0.6);
                    i{
                        margin-right: 5px;
                    }
                }
                &:focus{
                    outline: none;
                    box-shadow: none;   
                }
            }
            label{
                background: transparent;
                color: $priCol;
                padding: 10px 30px;
                font-family: $roboto;
                text-transform: uppercase;
                border-radius: 50px;
                cursor: pointer;
                &:hover{
                    background: rgba(60, 86, 232, 0.1);
                    transition: all 0.3s;
                }
            }
            input[type="file"] {
                display: none   ;
            }
            p{
                font-family: $roboto;
                margin: 20px auto;
            }
        }
        .form-inline{
            width: 70%;
            margin: 10px auto;
            padding: 0px;
            label{
                margin: 5px auto;
                padding: 0px;
            }
        }
    }
    .ingredients {
        width: 70%;
        box-sizing: border-box;
        margin: 0px auto;
        padding: 0px;
        overflow-x: hidden;
        p{
            font-family: $roboto;
            color: rgb(116, 116, 116);
            text-transform: capitalize;
        }
    }
    .ingredients-total{
        width: 90%;
        margin: -15px auto 10px auto;
        box-sizing: border-box;
        padding: 0px;
        p{
            display: inline-block;
            border: 1px solid #333;
            border-radius: 50px;
            padding: 3px 5px;
            color: #333;
            font-family: $roboto;
            text-transform: capitalize;
                .badge{
                    background: $secCol;
                    color: #000;
                    padding: 7px;
                    border-radius: 50px;
                    margin: 0px 0px 0px 5px;
                }
        }
    }
    .recipe-instruction{
        width: 75%;
        margin: auto auto;
        overflow-x: hidden;
        .step-class{
            font-family: $roboto;
            color: #000;
            background: $secCol;
            padding: 5px 10px;
            border-radius: 50px;
            margin: 10px 3px auto auto;
        }
        p{
            color: #333;
            font-family: $roboto;
            line-height: 32px;
            text-align: left;
            padding: 5px;
            word-wrap: break-word;
            text-transform: capitalize;
        }
    }
}
.preview-image{
    width: 500px;
    margin: 20px auto 25px auto;
    box-shadow: 3px 6px 12px 1px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-upload{
    color: $priCol;
    background: rgba(60, 86, 232, 0.1);
    width: 150px;
    padding: 10px 30px;
    border-radius: 7px;
    text-transform: uppercase;
    font-family: $roboto;
    font-weight: 500;
    margin: 20px auto 5px auto;
    outline: none;
    font-size: 14px;
    &:hover{
        background: $priCol;
        color: #fff;
        i{
            margin-left: 5px;
        }
    }
    &:focus{
        outline: none;
        box-shadow: none;   
    }
}
.btn-previous{
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    width: 150px;
    padding: 10px 30px;
    border-radius: 7px;
    text-transform: uppercase;
    font-family: $roboto;
    font-weight: 500;
    margin: 20px auto 5px auto;
    outline: none;
    font-size: 14px;
    &:hover{
        background: rgb(246, 246, 246);
        color: rgba(0, 0, 0, 0.6);
        i{
            margin-right: 5px;
        }
    }
    &:focus{
        outline: none;
        box-shadow: none;   
    }
}