.upload-progress {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px auto 0px auto;
}

.upload-progress div {
  background: #e9e9e9;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 7px 10px;
  border-radius: 50px;
  z-index: 99;
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
}

.recipe-layout {
  margin: 30px auto;
  -webkit-box-shadow: 0px 3px 12px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 12px 1px rgba(0, 0, 0, 0.1);
  width: 45%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 10px 15px 10px;
  border-radius: 15px;
  background: #fff;
}

.recipe-layout .upload-recipe .select-persons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  margin: 30px auto;
}

.recipe-layout .upload-recipe .select-persons span i {
  border: 1px solid #2364E6;
  color: #2364E6;
  width: 60px;
  height: 60px;
  font-size: 24px;
  padding: 15px 10px;
  border-radius: 50px;
  cursor: pointer;
}

.recipe-layout .upload-recipe .select-persons span:hover i {
  background: rgba(60, 86, 232, 0.1);
  border-color: rgba(60, 86, 232, 0.1);
}

.recipe-layout .upload-recipe .select-persons span::focus {
  background: #E7BB41;
}

.recipe-layout .upload-recipe .more-persons input {
  width: 50%;
}

.recipe-layout .upload-recipe h4 {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0px auto 40px auto;
}

.recipe-layout .upload-recipe h4 span {
  color: #E7BB41;
}

.recipe-layout .upload-recipe form {
  margin: 30px auto 20px auto;
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.recipe-layout .upload-recipe form textarea {
  padding: 10px 10px;
  margin: 0;
  min-height: 100px;
  min-width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  overflow-y: hidden;
  -webkit-box-shadow: 1px 6px 12px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 6px 12px -1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}

.recipe-layout .upload-recipe form textarea:focus {
  outline: none;
}

.recipe-layout .upload-recipe form input {
  display: block;
  margin: 20px auto;
  padding: 15px 15px;
  width: 70%;
  border-radius: 7px;
  border: 2px solid #ccc;
  text-transform: capitalize;
}

.recipe-layout .upload-recipe form input:hover {
  background: #f6f6f6;
}

.recipe-layout .upload-recipe form input:focus {
  border: 2px solid #2364E6;
  outline: none;
}

.recipe-layout .upload-recipe form input .custom-radio-button input[type="radio"] {
  background: red;
}

.recipe-layout .upload-recipe form .btn-layout {
  width: 70%;
  margin: 0px auto;
}

.recipe-layout .upload-recipe form .btn-upload {
  color: #2364E6;
  background: rgba(60, 86, 232, 0.1);
  width: 150px;
  padding: 10px 30px;
  border-radius: 7px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 20px auto 5px auto;
  outline: none;
  font-size: 14px;
}

.recipe-layout .upload-recipe form .btn-upload:hover {
  background: #2364E6;
  color: #fff;
}

.recipe-layout .upload-recipe form .btn-upload:hover i {
  margin-left: 5px;
}

.recipe-layout .upload-recipe form .btn-upload:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.recipe-layout .upload-recipe form .btn-previous {
  color: rgba(0, 0, 0, 0.5);
  background: transparent;
  width: 150px;
  padding: 10px 30px;
  border-radius: 7px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 20px auto 5px auto;
  outline: none;
  font-size: 14px;
}

.recipe-layout .upload-recipe form .btn-previous:hover {
  background: #f6f6f6;
  color: rgba(0, 0, 0, 0.6);
}

.recipe-layout .upload-recipe form .btn-previous:hover i {
  margin-right: 5px;
}

.recipe-layout .upload-recipe form .btn-previous:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.recipe-layout .upload-recipe form label {
  background: transparent;
  color: #2364E6;
  padding: 10px 30px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  border-radius: 50px;
  cursor: pointer;
}

.recipe-layout .upload-recipe form label:hover {
  background: rgba(60, 86, 232, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.recipe-layout .upload-recipe form input[type="file"] {
  display: none;
}

.recipe-layout .upload-recipe form p {
  font-family: "Roboto", sans-serif;
  margin: 20px auto;
}

.recipe-layout .upload-recipe .form-inline {
  width: 70%;
  margin: 10px auto;
  padding: 0px;
}

.recipe-layout .upload-recipe .form-inline label {
  margin: 5px auto;
  padding: 0px;
}

.recipe-layout .ingredients {
  width: 70%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px auto;
  padding: 0px;
  overflow-x: hidden;
}

.recipe-layout .ingredients p {
  font-family: "Roboto", sans-serif;
  color: #747474;
  text-transform: capitalize;
}

.recipe-layout .ingredients-total {
  width: 90%;
  margin: -15px auto 10px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
}

.recipe-layout .ingredients-total p {
  display: inline-block;
  border: 1px solid #333;
  border-radius: 50px;
  padding: 3px 5px;
  color: #333;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

.recipe-layout .ingredients-total p .badge {
  background: #E7BB41;
  color: #000;
  padding: 7px;
  border-radius: 50px;
  margin: 0px 0px 0px 5px;
}

.recipe-layout .recipe-instruction {
  width: 75%;
  margin: auto auto;
  overflow-x: hidden;
}

.recipe-layout .recipe-instruction .step-class {
  font-family: "Roboto", sans-serif;
  color: #000;
  background: #E7BB41;
  padding: 5px 10px;
  border-radius: 50px;
  margin: 10px 3px auto auto;
}

.recipe-layout .recipe-instruction p {
  color: #333;
  font-family: "Roboto", sans-serif;
  line-height: 32px;
  text-align: left;
  padding: 5px;
  word-wrap: break-word;
  text-transform: capitalize;
}

.preview-image {
  width: 500px;
  margin: 20px auto 25px auto;
  -webkit-box-shadow: 3px 6px 12px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 6px 12px 1px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-upload {
  color: #2364E6;
  background: rgba(60, 86, 232, 0.1);
  width: 150px;
  padding: 10px 30px;
  border-radius: 7px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 20px auto 5px auto;
  outline: none;
  font-size: 14px;
}

.btn-upload:hover {
  background: #2364E6;
  color: #fff;
}

.btn-upload:hover i {
  margin-left: 5px;
}

.btn-upload:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-previous {
  color: rgba(0, 0, 0, 0.5);
  background: transparent;
  width: 150px;
  padding: 10px 30px;
  border-radius: 7px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 20px auto 5px auto;
  outline: none;
  font-size: 14px;
}

.btn-previous:hover {
  background: #f6f6f6;
  color: rgba(0, 0, 0, 0.6);
}

.btn-previous:hover i {
  margin-right: 5px;
}

.btn-previous:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=RecipeUpload.css.map */